@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 22, 28, 38;
  --background-rgb: 246, 248, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

button,
input,
select {
  font: inherit;
}
